{% extends 'ComplainApp/base1.html' %}
{% load static %}
{% block title %}Admin Dashboard{% endblock %}
{% block extra_css %}
<link rel="stylesheet" href="{% static 'css/admin_dashboard.css' %}">
<link href="https://fonts.googleapis.com/icon?family=Material+Icons+Sharp" rel="stylesheet">
{% endblock %}
{% block name %}{{ username }}{% endblock %}
{% block desig %}{{ designation }}{% endblock %}
{% block content %}
<script src="https://cdn.jsdelivr.net/npm/chart.js@4.2.1/dist/chart.umd.min.js"></script>
<style>
    .download-btn {
        padding: 10px 20px;
        background-color: #4CAF50;
        border: none;
        color: white;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 12px;
        margin: 11px auto;
        cursor: pointer;
        border-radius: 16px;
    }

    .filter {
        padding: 3px 15px;
        background-color: #2f7ed7;
        /* Green */
        border: none;
        color: white;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 12px;
        margin: 11px auto;
        cursor: pointer;
        border-radius: 16px;
    }

    .reset {
        padding: 3px 15px;
        background-color: #d53550;
        /* Green */
        border: none;
        color: white;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 12px;
        margin: 11px auto;
        cursor: pointer;
        border-radius: 16px;
    }

    .filter:hover {
        background-color: #1d23dc;
    }

    .reset:hover {
        background-color: #f60a25;
    }

    .download-btn:hover {
        background-color: #45a049;
    }

    .in-form label {
        display: block;
        margin-bottom: 5px;
        font-weight: bold;
    }


    .in-form input[type="date"] {
        padding: 6px;
        width: 100%;
        margin-bottom: 10px;
        border: 1px solid #ccc;
        border-radius: 5px;
    }

    .graph1 {
        margin-top: 5rem;
    }

    .graph1 select {
        padding: 5px;
        width: 10%;
        margin-bottom: 10px;
        border: 1px solid #ccc;
        border-radius: 5px;
        background-color: #fff;
        color: #333;
    }

    .graph1 label {
        display: block;
        margin-bottom: 5px;
        font-weight: bold;
    }

    .graph1 select option {
        padding: 8px;
    }

    .graph1 select:focus {
        outline: none;
        border-color: #007bff;
        box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
    }

    .right {
        margin-bottom: 114rem;
        display: inline;
    }

    .top {
        margin: auto;
    }
    .table-contain{
    max-width: 80rem;
}
.table-contain {
    width: 90%;
    overflow-x: auto;
}

.table-fixed {
    overflow-y: auto;
    max-height: 75vh;
}


.table-fixed th, .table-fixed td{
    padding: 12px 15px;
    text-align: left;
    border-bottom: 1px solid #ddd;
    word-wrap: break-word;
    white-space: normal;
}
.table-fixed th {
    font-weight: bold;
    white-space: normal;
    padding: 15px;
}
.table-fixed td{
    white-space: normal; 
    word-break: break-word; 
}
.table-fixed .ack-column {
    min-width: 100px; 
    word-break: break-all;
}
.table-fixed thead th {
    position: sticky;
    top: 0;
}
    @media screen and (max-width:768px) {
        .top-nav{
        width: inherit;
    }
    main {
            margin-top: 8rem;
            padding: 0 1rem;
        }

        main .insights{
        max-width: 75%;
    }
    .graph1{
        max-width: 90%;
    }
    main .table-contain{
        max-width: 90%;
    }

    }
    
</style>


<h1>Dashboard</h1>
<div class="date"><input type="date" id="todaydate" value=""><span id="currentTime"></span></div>
<div class="insights">
    <div class="cases">
        <span class="material-icons-sharp">analytics</span>
        <div class="middle">
            <div class="left">
                <h3>Registered Cases</h3>
                <h1>{{ total_cases }} </h1>
                <button class="download-btn1 download-btn" onclick="downloadData('total_cases')">Download</button>

            </div>
        </div>
        <form method="GET" action="{% url 'admin_dashboard' %}" class="in-form">
            <div>
                <label for="start_date">From:</label>
                <input type="date" id="start_date" name="start_date" value="{{ start_date | default:''}}">
            </div>
            <div>
                <label for="end_date">To:</label>
                <input type="date" id="end_date" name="end_date" value="{{ end_date | default:''}}">
            </div>
            <button type="submit" class="filter">Filter</button>
            <button type="reset" class="reset"
                onclick="window.location.href='{% url 'admin_dashboard' %}'">Reset</button>
        </form>
    </div>
    <div class="closed">
        <span class="material-icons-sharp">analytics</span>
        <div class="middle">
            <div class="left">
                <h3>Closed Cases</h3>
                <h1>{{closed_cases}}</h1>
                <button class="download-btn2 download-btn" onclick="downloadData('closed_cases')">Download</button>

            </div>
        </div>
        <form method="GET" action="{% url 'admin_dashboard' %}" class="in-form">
            <div>
                <label for="start_date">From:</label>
                <input type="date" id="start_date" name="start_date" value="{{ start_date | default:''}}">
            </div>
            <div>
                <label for="end_date">To:</label>
                <input type="date" id="end_date" name="end_date" value="{{ end_date | default:''}}">
            </div>
            <button class="filter" type="submit">Filter</button>
            <button type="reset" class="reset"
                onclick="window.location.href='{% url 'admin_dashboard' %}'">Reset</button>
        </form>
    </div>
    <div class="today">
        <span class="material-icons-sharp">analytics</span>
        <div class="middle">
            <div class="left">
                <h3>Registered Today</h3>
                <h1>{{registered_today}}</h1>
                <button class="download-btn3 download-btn" onclick="downloadData('registered_today')">Download</button>
                <h3>Pending Cases</h3>
                <h1>{{pending_cases}}</h1>
                <button class="download-btn3 download-btn" onclick="downloadData('pending')">Download</button>

            </div>

        </div>

    </div>
    

</div>
<div class="graph1">
    <canvas id="last-week-chart" width="400" height="200"></canvas>
    <div>
        <label for="time_range">Time Range:</label>
        <select id="time_range" name="time_range">
            <option value="monthly" {% if time_range == 'monthly' %}selected{% endif %}>Monthly</option>
            <option value="weekly" {% if time_range == 'weekly' %}selected{% endif %}>Weekly</option>
            <option value="yearly" {% if time_range == 'yearly' %}selected{% endif %}>Yearly</option>
        </select>
    </div>
</div>
<div class="recent-complains">

    <h2>Recent Complains</h2>
    <div class="table-contain">
        <div class="table-fixed">
    <table>
        <thead>
            <tr>
                <th>Date</th>
                <th>Ack</th>
                <th>Name</th>
                <th>Fraud Type</th>
                <th>Steps Taken</th>
                <th>Status</th>
            </tr>

        </thead>
        <tbody>
            {% for complain in complains1 %}
            <tr>
                <td>{{ complain.Date }}</td>
                <td>{{ complain.ack_number }}</td>
                <td>{{ complain.name }}</td>
                <td>{{ complain.fraud_type }}</td>
                <td>{{ complain.steps_taken }}</td>
                <td>{{ complain.status }}</td>
            </tr>
            {% endfor %}

        </tbody>
    </table>
</div>
</div>
</div>
</div>
<script>
    var timePeriod = '{{ time_range }}';
    var chartData = {{ chart_data| safe }};
    var ctx = document.getElementById('last-week-chart').getContext('2d');
    var complaintsChart = new Chart(ctx, {
        type: 'bar',
        data: {
            labels: chartData.labels,
            datasets: [{
                label: 'Complaints Registered',
                data: chartData.registered_data,
                fill: true,
                backgroundColor: 'rgba(255, 99, 132, 0.2)', // Red color
                borderColor: 'rgba(255, 99, 132, 1)',
                borderWidth: 2,
                pointBackgroundColor: 'rgba(54, 162, 235, 1)',
                pointBorderColor: '#fff',
                pointBorderWidth: 0.4,
                pointRadius: 5,
                pointHoverRadius: 8
            },
            {
                label: 'Complaints Closed',
                data: chartData.closed_data,
                backgroundColor: 'rgba(75, 192, 192, 0.2)', // Green color
                borderColor: 'rgba(75, 192, 192, 1)',
                borderWidth: 2,
                pointBackgroundColor: 'rgba(255, 99, 132, 1)',
                pointBorderColor: '#fff',
                pointBorderWidth: 0.4,
                pointRadius: 5,
                pointHoverRadius: 8
            }]
        },
        options: {
            responsive: true,
            plugins: {
                tooltip: {
                    mode: 'index',
                    intersect: false
                }
            },
            scales: {
                x: {
                    display: true,
                    title: {
                        display: true,
                        text: timePeriod === 'weekly' ? 'Week' : (timePeriod === 'yearly' ? 'Year' : 'Date'),
                        color: '#333',
                        font: {
                            size: 14,
                            weight: 'bold'
                        }
                    }
                },
                y: {
                    display: true,
                    title: {
                        display: true,
                        text: 'Number of Cases',
                        color: '#333',
                        font: {
                            size: 14,
                            weight: 'bold'
                        }
                    },
                    beginAtZero: true
                }
            },
            interaction: {
                mode: 'nearest',
                axis: 'x',
                intersect: false
            },
            animation: {
                duration: 1000,
                easing: 'easeInOutQuart'
            }
        }
    });



    var timePeriodDropdown = document.getElementById('time_range');
    timePeriodDropdown.addEventListener('change', function () {
        var selectedTimePeriod = this.value;
        window.location.href = '?time_range=' + selectedTimePeriod;
    });
    function downloadData(dataType) {
        const startDate = document.getElementById('start_date').value;
        const endDate = document.getElementById('end_date').value;
        let baseUrl = '/ComplainApp/admin/download/';
        baseUrl += dataType + '/';
        const queryParams = {};
        if (startDate) {
            queryParams['start_date'] = startDate;
        }
        if (endDate) {
            queryParams['end_date'] = endDate;
        }
        const queryString = new URLSearchParams(queryParams).toString();
        if (queryString) {
            baseUrl += '?' + queryString;
        }
        window.location.href = baseUrl;

    }


</script>
{% endblock %}
