{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock %}</title>
    {% block extra_css %}{% endblock %}
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons+Sharp" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'css/base.css' %}">
</head>

<body data-theme="light">
    <div class="top-nav">
        <div class="b1">
            <button id="menu-btn">
                <span class="material-icons-sharp">menu</span>
            </button>
        </div>
        <div class="theme-toggler">
            <span class="material-icons-sharp active">light_mode</span>
            <span class="material-icons-sharp">dark_mode</span>
        </div>
        <div class="profile">
            <div class="info">
                <p>Welcome, <b>{% block name %}{% endblock %}</b></p>
                <small class="text-muted">{% block desig %}{% endblock %}</small>
            </div>
        </div>
    </div>
    <div class="container">
        <aside>
            <div class="top">
                <div class="logo">
                    <img src="{% static 'images/logo1.png' %}" alt="Logo">
                    <h2>Ad<span class="topc">min</span></h2>
                </div>
                
                <div class="close" id="c-btn">
                    <span class="material-icons-sharp">
                        close
                    </span>
                </div>
            </div>
            <div class="sidebar">
                <a href="{% url 'admin_dashboard' %}" class="{% if  request.resolver_match.url_name == 'admin_dashboard' %}active{% endif %}" data-active="dash" id="dash">
                    <span class="material-icons-sharp">
                        grid_view
                    </span>
                    <h3>Dashboard</h3>
                </a>
                <a href="{% url 'view_complains' %}" class="{% if request.resolver_match.url_name == 'view_complains' or request.resolver_match.url_name == 'add_complain' or request.resolver_match.url_name == 'edit_complain' %}active{% endif %}" data-active="manage-complaints" id="complain">
                    <span class="material-icons-sharp">
                        person_outline
                    </span>
                    <h3>Complaints</h3>
                </a>
                <a href="{% url 'view_fir' %}" class="{% if  request.resolver_match.url_name == 'view_fir' or request.resolver_match.url_name == 'add_fir' or request.resolver_match.url_name == 'edit_fir' %}active{% endif %}" data-active="manage-fir" id="fir">
                    <span class="material-icons-sharp">
                        receipt_long
                    </span>
                    <h3>FIRs</h3>
                </a>
                {% if is_superuser %}
                <a href="{% url 'login_activity' %}" class="{% if  request.resolver_match.url_name == 'login_activity' %}active{% endif %}" data-active="manage-log" id="log">
                    <span class="material-icons-sharp">
                        manage_accounts
                    </span>
                    <h3>Login Activity</h3>
                </a>
                <a href="{% url 'user_list' %}" class="{% if  request.resolver_match.url_name == 'user_list' or request.resolver_match.url_name == 'user_create' or request.resolver_match.url_name == 'user_update' or request.resolver_match.url_name == 'user_delete'%}active{% endif %}" id="manage" data-active="manage-users">
                    <span class="material-icons-sharp">
                        supervisor_account
                    </span>
                    <h3>Manage Users</h3>
                </a>
                {% endif %}
                <a href="{% url 'logout-admin' %}">
                    <span class="material-icons-sharp">
                        logout
                    </span>
                    <h3>Logout</h3>
                </a>
            </div>
        </aside>
        <main>
            
            {% block content %}
            {% endblock %}

        </main>
        
                </div>
            </div>
            
            
        </div>
    </div>

    <script src="{% static 'js/base.js' %}"></script>
   
        
</body>

</html>


































