{% extends "admin/base_site.html" %}
{% block content %}
    <h1>Admin Activity List</h1>
    <table>
        <thead>
            <tr>
                <th>User</th>
                <th>Login Time</th>
                <th>IP Address</th>
            </tr>
        </thead>
        <tbody>
            {% for activity in result_list %}
            <tr>
                <td>{{ activity.user }}</td>
                <td>{{ activity.login_time }}</td>
                <td>{{ activity.ip_address }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}