.report-section {
    margin-bottom: 30px;
    padding: 15px;
    border-radius: 8px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.chart-container {
    border: 1px solid #eaeaea;
    padding: 20px;
    border-radius: 8px;
    background-color: #f8f8f8;
}
